

@media only screen and (max-width: 600px) {
    #home .home-content {
        padding-top: 70px;
      }
      
      #home .home-content h1 {
        font-size: 80px;
        line-height: 1.2em;
      }

      .navbar h1 {
        padding-right: 200px;
      }

      .heading {
        display: block;
        padding-bottom: 40px;
        text-align: center;
        overflow: hidden;
        line-height: 4em;
      }

      #about-1 {
        height: 700px;
      }

      #about {
          height: 350px;
      }

      .content-1,
      .content-2,
      .content-3,
      .content-4 {
        width: 100%;
        height: 150px;
        border-radius: 30px;
        margin: 10px 0px;
      }

      .tour-1,
      .tour-2,
      .tour-3 {
        width: 100%;
        height: 150px;
        border-radius: 30px;
        margin: 4px 0px;
      }

      .card {
        background-size: cover;
        width: 22%;
        height: 150px;
        border-radius: 30px;
        margin: 0 5px;
      }

      .card-title {
        text-align: left;
        font-size: 10px;
        padding-top: 100px;
        padding-left: 20px;
        color: #fff;
        line-height: 1.2em;
      }

      #contacts {
        background: #333;
        height: 700px;
      }

      #contacts .card {
        float: left;
        overflow: hidden;
        text-align: center;
        padding-top: 20px;
        align-items: center;
        width: 100%;
        line-height: 1.5em;
      }

      #tour-packages {
        height: 930px;
        overflow: hidden;
      }
      .row {
        height: 930px;
      }
     
  }

  @media only screen and (max-width: 768px) {
    #home .home-content {
        padding-top: 70px;
      }
      
      #home .home-content h1 {
        font-size: 80px;
        line-height: 1.2em;
      }

      .navbar h1 {
        padding-right: 200px;
      }

      .heading {
        display: block;
        padding-bottom: 40px;
        text-align: center;
        overflow: hidden;
        line-height: 4em;
      }

      #about-1 {
        height: 700px;
      }

      #about {
          height: 350px;
      }

      .content-1,
      .content-2,
      .content-3,
      .content-4 {
        width: 100%;
        height: 150px;
        border-radius: 30px;
        margin: 10px 0px;
      }

      .tour-1,
      .tour-2,
      .tour-3 {
        width: 100%;
        height: 150px;
        border-radius: 30px;
        margin: 4px 0px;
      }

      .card {
        background-size: cover;
        width: 22%;
        height: 150px;
        border-radius: 30px;
        margin: 0 5px;
      }

      .card-title {
        text-align: left;
        font-size: 10px;
        padding-top: 100px;
        padding-left: 20px;
        color: #fff;
        line-height: 1.2em;
      }

      #contacts {
        background: #333;
        height: 700px;
      }

      #contacts .card {
        float: left;
        overflow: hidden;
        text-align: center;
        padding-top: 20px;
        align-items: center;
        width: 100%;
        line-height: 1.5em;
      }

      #tour-packages {
        height: 930px;
        overflow: hidden;
      }
      .row {
        height: 930px;
      }
     
  }

  @media only screen and (max-width: 900px) {
    #home .home-content {
        padding-top: 70px;
      }
      
      #home .home-content h1 {
        font-size: 80px;
        line-height: 1.2em;
      }

      .navbar h1 {
        padding-right: 200px;
      }

      .heading {
        display: block;
        padding-bottom: 40px;
        text-align: center;
        overflow: hidden;
        line-height: 4em;
      }

      #about-1 {
        height: 700px;
      }

      #about {
          height: 350px;
      }

      .content-1,
      .content-2,
      .content-3,
      .content-4 {
        width: 100%;
        height: 150px;
        border-radius: 30px;
        margin: 10px 0px;
      }

      .tour-1,
      .tour-2,
      .tour-3 {
        width: 100%;
        height: 150px;
        border-radius: 30px;
        margin: 4px 0px;
      }

      .card {
        background-size: cover;
        width: 22%;
        height: 150px;
        border-radius: 30px;
        margin: 0 5px;
      }

      .card-title {
        text-align: left;
        font-size: 10px;
        padding-top: 100px;
        padding-left: 20px;
        color: #fff;
        line-height: 1.2em;
      }

      #contacts {
        background: #333;
        height: 700px;
      }

      #contacts .card {
        float: left;
        overflow: hidden;
        text-align: center;
        padding-top: 20px;
        align-items: center;
        width: 100%;
        line-height: 1.5em;
      }

      #tour-packages {
        height: 930px;
        overflow: hidden;
      }
      .row {
        height: 930px;
      }
     
  }

  @media only screen and (max-width: 1100px) {
    #home .home-content {
        padding-top: 70px;
      }
      
      #home .home-content h1 {
        font-size: 80px;
        line-height: 1.2em;
      }

      .navbar h1 {
        padding-right: 200px;
      }

      .heading {
        display: block;
        padding-bottom: 40px;
        text-align: center;
        overflow: hidden;
        line-height: 4em;
      }

      #about-1 {
        height: 700px;
      }

      #about {
          height: 350px;
      }

      .content-1,
      .content-2,
      .content-3,
      .content-4 {
        width: 100%;
        height: 150px;
        border-radius: 30px;
        margin: 10px 0px;
      }

      .tour-1,
      .tour-2,
      .tour-3 {
        width: 100%;
        height: 150px;
        border-radius: 30px;
        margin: 4px 0px;
      }

      .card {
        background-size: cover;
        width: 22%;
        height: 150px;
        border-radius: 30px;
        margin: 0 5px;
      }

      .card-title {
        text-align: left;
        font-size: 10px;
        padding-top: 100px;
        padding-left: 20px;
        color: #fff;
        line-height: 1.2em;
      }

      #contacts {
        background: #333;
        height: 700px;
      }

      #contacts .card {
        float: left;
        overflow: hidden;
        text-align: center;
        padding-top: 20px;
        align-items: center;
        width: 100%;
        line-height: 1.5em;
      }

      #tour-packages {
        height: 930px;
        overflow: hidden;
      }
      .row {
        height: 930px;
      }
     
  }

  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 900px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar.responsive {
        position: fixed;
    }
    .navbar.responsive .icon {
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar.responsive {
        position: fixed;
    }
    .navbar.responsive .icon {
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (max-width: 900px) {
    .navbar.responsive {
        position: fixed;
    }
    .navbar.responsive .icon {
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (max-width: 1100px) {
    .navbar.responsive {
        position: fixed;
    }
    .navbar.responsive .icon {
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }