/* global setting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
}

a {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

p {
  margin: 10px;
}

/* navigation */
#navbar {
  background: #fff;
  overflow: auto;
  color: black;
}

#navbar a {
  color: black;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul li a:hover {
  background: #b9b9b9;
  color: blue;
}

#navbar ul li a.active {
  background: rgba(77, 77, 77, 0.1);
}

#hero {
  background: url("../image/tuk.jpg") no-repeat center center/cover;
  height: 600px;
}

#hero .hero-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#hero .hero-content h1 {
  font-size: 150px;
  line-height: 1.2em;
}

.primary-text {
  color: #f0f0cb;
}

#hero .hero-content p {
  padding-bottom: 60px;
  line-height: 1.7em;
}

#heading {
  margin-top: 50px;
}

.heading {
  display: block;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.heading h2 {
  font-size: 60px;
}

.text-lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #334756;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

#about {
  height: 400px;
  display: block;
  align-content: center;
}
#about p {
  line-height: 2em;
  font-size: 15px;
}
#about h2 {
  color: #ffb740;
}
#about i {
  margin-bottom: 10px;
}
#about .content-1,
#about .content-2,
#about .content-3,
#about .content-4 {
  float: left;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  align-items: center;
}

.content-1 {
  background: url(/image/the-grenadines-2.jpg);
  background-size: cover;
  width: 23%;
  height: 350px;
  border-radius: 30px;
  margin: 0 10px;
}

.content-2 {
  background: url(/image/barbados-2.jpg);
  background-size: cover;
  width: 23%;
  height: 350px;
  border-radius: 30px;
  margin: 0 10px;
}

.content-3 {
  background: url(/image/virgin-islands1-2.jpg);
  background-size: cover;
  width: 23%;
  height: 350px;
  border-radius: 30px;
  margin: 0 10px;
}

.content-4 {
  background: url(/image/havana-2.jpg);
  background-size: cover;
  width: 23%;
  height: 350px;
  border-radius: 30px;
  margin: 0 10px;
}

#tour-packages .tour-1,
#tour-packages .tour-2,
#tour-packages .tour-3 {
  float: left;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  align-items: center;
}

.tour-1 {
  background: url(/image/1-3-580x378.jpg);
  background-size: cover;
  width: 32%;
  height: 350px;
  border-radius: 30px;
  margin: 0 2px;
}

.tour-2 {
  background: url(/image/3-3-580x378.jpg);
  background-size: cover;
  width: 32%;
  height: 350px;
  border-radius: 30px;
  margin: 0 2px;
}

.tour-3 {
  background: url(/image/8-1-580x378.jpg);
  background-size: cover;
  width: 32%;
  height: 350px;
  border-radius: 30px;
  margin: 0 2px;
}

#about a.c-btn {
  color: #082032;
}
#about a.c-btn:hover {
  color: #ffb740;
}

/* section testimonials */
#tour-packages {
  background: url("../image/beautifuk-scenery.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  overflow: hidden;
}

#tour-packages .heading {
  color: #fff;
}

.row {
  background: rgba(39, 62, 84, 0.4);
  overflow: hidden;
  height: 600px;
  z-index: 2;
}
#tour-packages .lead-head {
  color: #fff;
  padding-top: 20px;
  margin-bottom: 20px;
}
.bg-primary {
  background: rgba(255, 255, 255, 0.4);
}
#tour-packages .testimonial {
  padding: 20px;
  width: 50%;
  margin-bottom: 40px;
  border-radius: 1.2em;
}
footer {
  padding-top: 10px;
  background: #082032;
  height: 70px;
  overflow: auto;
}
footer p {
  text-align: center;
  color: #fff;
}
